.git
.github
.gitignore

logs
*.log

controller_simulator
eps_simulator
bridge_service
tools/generate_spacecan_vectors
tests/test_spacecan_codec
tests/test_eps_simulator

openmct/node_modules
openmct/dist

.DS_Store
